ENV=
TRACING=
TRACING_ADDR=

SESSION_GRPC_ADDR=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCOUNT_ID=

UPLOADS_NOTIFICATIONS_QUEUE_NAME=

DYNAMODB_USERS_TABLE_NAME=
DYNAMODB_FILES_TABLE_NAME=
DYNAMODB_UPLOADS_TABLE_NAME=

REDIS_HOST=